<!DOCTYPE html>
<html>
  <head>
    <title>Proyecto1Moviles</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>

  <body>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <!-- Brand/logo -->
      <a class="navbar-brand" href="/">Restaurante</a>
      
      <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Inicio</a>
        </li>
        <% if signed_in? %>
          <li class="nav-item">
            <a class="nav-link" href="/restaurants">Restaurante</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/schedules">Horario</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/photo_restaurants">Fotos restaurantes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/stars">Estrellas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/comments">Comentarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users">Usuarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/administrators/sign_out" data-method="delete">Cerrar sesión</a>
          </li>

            
        <% else %>
         <li class="nav-item">
            <a class="nav-link" href="/administrators/sign_in">Iniciar sesión</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/administrators/sign_up">Registro</a>
        </li>
        <% end %>
       
      </ul>
    </nav>

    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
